:root {
  --bs-sys-color-white: #ffffff;

  --bs-sys-color-dark: #262626;

  --bs-sys-color-light: #f4f4f4;
}

.light {
  background: var(--bs-sys-color-light);
  color: var(--bs-sys-color-on-light);
}

.light:hover {
  background: var(--bs-sys-color-light-container);
  color: var(--bs-sys-color-on-light-container);
}

.dark {
  background: var(--bs-sys-color-dark);
  color: var(--bs-sys-color-on-dark);
}

.dark:hover {
  background: var(--bs-sys-color-dark-container);
  color: var(--bs-sys-color-on-dark-container);
}
